# -- Put this file in /etc/systemd/system directory

[Unit]
Description=Fan speed controller for Raspberry Pi 4
Wants=cron.service
After=cron.service

[Service]
EnvironmentFile=-/etc/default/fan-controller
ExecStart=/usr/bin/fan-controller $FAN_CONTROLLER_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
